header {
    display: flex;
    background-color: #e0f9ff;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.list-items ul {
    display: flex;
    column-gap: 4rem;
    list-style: none;
}

ul li a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
    color: #b300ff;
}