header {
    display: flex;
    background-color: #d0fea2;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: fixed; /* Keep header fixed */
    top: 0; /* Stick to the top */
    width: 100vw;
    border-bottom: 3px solid purple;
    z-index: 10; /* Ensure header stays above other elements */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.list-items ul {
    display: flex;
    column-gap: 4rem;
    list-style: none;
}

ul li a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.menu {
    display: none;
}

ul li a:hover {
    text-decoration: underline;
    color: #5e0145;
    text-shadow: 1px 1px 20px;
    font-size: 1.04rem;
    transition-delay: 0.13S;
}

img {
    mix-blend-mode: multiply;
    width: 30px;
}

.load {
    height: 2px;
    background-color: #d0fea2;
    animation: load 0.5s ease-in-out 1;
}

@keyframes load {
    0% {
        width: 0;
    }

    75% {
        background-color: #ff0000;
        width: 75vw;
    }

    99.8% {
        width: 99.8vw;
        background-color: #ff0000;
    }
}

@media (max-width: 580px) {
    .list-items ul {
        display: none;
    }

    .menu {
        display: block;
    }
}