<main>
    <div class="search-bar">
        <input type="text" placeholder="Search Something..." [(ngModel)]="searchText">
        <button [ngClass]="{'btn': true, 'btn-disabled': !searchText}" (click)="searchButton()">Search</button>
    </div>

    <div class="search-text">
        <h4 *ngIf="text!=''">Showing result for: {{ text }}</h4>
    </div>

    <div class="container" id="products">
        <div class="cart">
            <img src="cart.gif" alt="cart" width="40">
            <p>{{ count }}</p>
        </div>

        <div class="products">
            <div class="prod" *ngFor="let item of products; let i = index">
                <div class="prod-image">
                    <img src="{{ item.image }}">
                </div>
                <div class="about">
                    <h3>{{ item.name }}</h3>
                    <h4>
                        <span [ngStyle]="{'color': 'black', 'text-decoration': 'none'}">&#8377; {{ item.price }}</span>

                        <span [ngStyle]="{'color': '#838383', 'text-decoration': 'line-through'}"> &#8377; {{
                            item.discount
                            }}</span>
                    </h4>

                    <span class="stockProduct" [ngStyle]="{color: item.inStock ? 'green':'red'}">
                        <h5 *ngIf="item.inStock; else outOfStock">Available in Stock</h5>

                        <ng-template #outOfStock>
                            <h5>Out of Stock</h5>
                        </ng-template>
                    </span>

                    <button class="cart-button" (click)="ButtonClick(i)"
                        [ngClass]="{'cart-button': true, 'cart-button-disabled': !item.inStock}">
                        <img *ngIf="item.inStock" src="cart.gif" alt="cart" width="25">
                        {{ item.inStock ? 'Add to Cart' : 'Notify Me' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>