.container {
    background-color: #f2f9d3;
    width: 100vw;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 5% 0;
}

.cart {
    height: fit-content;
    width: 470px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-products {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
}