.cart {
    height: fit-content;
    width: fit-content;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    box-shadow: 1px 1px 10px;
}

.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
}

.cart-products {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: space-between;
    column-gap: 1.1rem;
    background-color: #f9fbd5;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
}

.cart-products img {
    mix-blend-mode: multiply;
}

.cart hr {
    border: 2px solid #b7b7b7;
    border-radius: 10px;
}

.total {
    text-align: right;
}

.show-products {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

@media (max-width: 500px) {
    .cart {
        margin: 0 10px;
    }
}