<div class="container">
    <div class="cart">
        <div class="first-section">
            <h3>Shoe Cart</h3>
            <h5><a href="#" (click)="removeAll()">Remove All</a></h5>
        </div>
        <hr>

        <div class="show-products" *ngIf="addedProducts.length > 0; else empty">
            <div class="cart-products" *ngFor="let item of addedProducts">
                <img src="{{item.image}}" alt="product" width="80">
                <h5>{{ item.name }}</h5>
                <h5>{{ item.price | currency:'INR':'symbol':'1.0-0' }}</h5>
            </div>
        </div>

        <ng-template #empty>
            <img src="empty_cart.gif" alt="">
        </ng-template>
        <hr>

        <div class="total">
            <h5>Subtotal: {{ subTotal | currency:'INR':'symbol':'1.0-0' }}</h5>
        </div>
    </div>
</div>